<div style="margin: 2rem;">
  <div class="row">
    <div class="col-md-3">Name : <input type="text" [(ngModel)]="name" /></div>
    <div class="col-md-3">
      success status  :
      <select [(ngModel)]="successStatus">
        <option value="0">choose</option>
        <option [ngValue]="true">successful</option>
        <option [ngValue]="false">unsuccessful</option>
      </select>
    </div>
    <div class="col-md-2">
      <button (click)="calculate()">run</button>
    </div>
    <div class="col-md-2">
      <button (click)="child1.alertSth()">Child Component Trigger</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-child1
        [data]="calculaterData"
        (resetForm)="resetParentForm($event)"
      ></app-child1>
    </div>
  </div>
</div>
