<div class="margin:2rem">
  <div class="row">
    <div class="col-md-5">
    <input type="text" [(ngModel)]="name" />
    <br>
    <button (click)="setItem(name)">setItem</button>
    <button (click)="getItem()">getItem</button>
    <button (click)="clearItem()">clearItem</button>
    <button (click)="checkNameCookie()">checkNameCookie</button>
    <p>name: {{name }} </p>
    <p>cookie value: {{cookieValue }} </p>
    <p>isExist: {{isCookieExist }} </p>
    </div>
    <div class="col-md-2">
      <button  [routerLink]="['../local-storage']">Go To Local Storage Page</button>
    </div>
    </div>

</div>
