<div class="row">
  <div class="col-md-2">
    <p>normal hali: {{title}} </p>
    <p>lowercase hali : {{title | lowercase }} </p>
  </div>
  <div class="col-md-2">
    <p>title case: {{title | titlecase }} </p>
  </div>
  <div class="col-md-2">
    <p>upper case: {{ title | uppercase }} </p>
    <p>turkish upper case: {{ turkishUpperCaseVal }} </p>
  </div>
  <div class="col-md-2">
    <p>normal date: {{today}} </p>
    <p>date: {{today | date: "fulldate" }} </p>
  </div>
  <div class="col-md-2">
    <h3>currency pipe</h3>
    <p>normal value: {{cashValue }} </p>
    <p>currency pipe value: {{cashValue | currency }} </p>
  </div>
  <div class="col-md-3">
    <h3>Json Pipe</h3>
    <p>Without Pipe</p>
    <pre>{{objectVal }} </pre>
    <br>
    <p>With Pipe</p>
    <pre>{{objectVal | json}} </pre>
  </div>

  <div class="col-md-2">
    <h3>percent pipe</h3>
    <p>{{percentVal | percent </p>

  </div>
  <div class="col-md-2">
    <h3>slice pipe</h3>
    <p>normal hali: {{cityName }} </p>
    <p>normal hali: {{cityName | slice: 0:3 }} </p>
    <p>normal hali: {{cityName | slice: -2 }} </p>
    <p>normal hali: {{cityName | slice: 3 }} </p>
  </div>
  <div class="col-md-3">
    <h3>Custom Pipe</h3>
    <p>{{cash | tl }} </p>
    <br>
    <h4>
    cities
    </h4>
    <ul>
      <li *ngFor="let city of cities | myFiltering: 'i'">{{ city }}</li>
    </ul>
  </div>
  </div>

