<div class="row" style="margin:2rem">
  <div class="col-md-9 offset-md-3">
    <form class="form-group" #cityForm="ngForm" (ngSubmit)="save(cityForm)">
      <div class="row">
        <div class="col-md-12" form-control>
          <label for="id">Id</label>
          <input type="number" name="id" ngModel>
        </div>
        <div class="col-md-12" form-control>
          <label for="name">Name</label>
          <input type="text" name="name" ngModel>
        </div>
        <div class="col-md-12" form-control>
          <label for="region">Region</label>
          <input type="text" name="region" ngModel>
        </div>
        <div class="col-md-12" form-control>
          <label for="plaka">Plaka</label>
          <input type="text" name="plaka" ngModel>
        </div>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  <div class="col-md-4">
    <app-city></app-city>
  </div>
  <div class="col-md-4">
    <app-plaka></app-plaka>
  </div>
  <div class="col-md-4">
    <app-region></app-region>
  </div>
</div>
