<div class="row">
<div class="col-md-9 offset-md-3">
  <form #roleForm="ngForm" class="form-group" (ngSubmit)="addNewRole(roleForm)" >
    <label for="name">id</label> <br />
    <input class="form-control" type="text" name="id" ngModel /> <br />
    <label for="name">name</label> <br />
    <input class="form-control" type="text" name="name" ngModel />
    <br />
  <button type="submit">Kaydet</button>
</form>
<button (click)="deleteRole(roleForm)">Sil</button>
</div>
</div>

<ul>
  <li *ngFor="let role of rolesData[0]?.data" >
  id:{{role._id}} <br>
  name:{{role.name}}
  </li>
</ul>
