<div style="margin:2rem">
  <div class="row">
    <div class="col-md-5">
    <input type="text" [(ngModel)]="name">
  <br>
  <button (click)="setItem(name)">setItem</button>
  <button (click)="getItem()">getItem</button>
  <button (click)="clearItem()">clearItem</button>
 <br>
 <p>ng model: {{name}} </p>
 <p>Local Storage value: {{localStorageVal }} </p>
  </div>
  <div class="col-md-5">
    name: <input type="text" [(ngModel)]="objName" /> <br />
    surname: <input type="text" [(ngModel)]="objSurname" /> <br />
    age: <input type="text" [(ngModel)]="objAge" /> <br />
    <button (click)="setObject()">Set object</button>
    <button (click)="getObject()">Get object</button>
    <br />
    obj value : {{ localStorageObjVal }}
  </div>
</div>
<div class="col-md-2">
  <button  [routerLink]="['../cookie']">Go To Cookie Page</button>
</div>
</div>
