@import "~igniteui-angular/lib/core/styles/themes/index";
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

/* autoprefixer grid: on */

$custom-palette: igx-palette(
  $primary: $primary_color,
  $secondary: $secondary_color,
  $error: red
);

@include igx-core();
@include igx-theme($custom-palette);
