#toast-container > div {
  opacity: 1;
  width: 600px;
}

.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}

.toast-success {
  background-color: rgb(49, 164, 199) !important;
}

.toast-error {
  background-color: rgb(253, 130, 29) !important;
}

.toast-info {
  background-color: rgb(214, 201, 83) !important;
}

.toast-warning {
  background-color: rgb(247, 8, 8) !important;
}
